<div class="app-container">
  <nav>
    <ul>
      <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
      <li><a routerLink="/csv-formatter" routerLinkActive="active">CSV Formatter</a></li>
      <li><a routerLink="/string-utils" routerLinkActive="active">String Utils</a></li>
      <li><a routerLink="/date-utils" routerLinkActive="active">Date Utils</a></li>
      <li><a routerLink="/number-utils" routerLinkActive="active">Number Utils</a></li>
      <li><a routerLink="/array-utils" routerLinkActive="active">Array Utils</a></li>
      <li><a routerLink="/json-visualizer" routerLinkActive="active">JSON Visualizer</a></li>
    </ul>
  </nav>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
